.container {
  min-width: 320px;
  max-width: 1600px;
  padding-right: 15px;
  padding-left: 15px;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins";
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  display: block;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero {
  background-color: #D8DDFF;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%), url(../images/main-images/hero-desk.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%), url(../images/main-images/hero-desk.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%), url(../images/main-images/hero-desk@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%), url(../images/main-images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%), url(../images/main-images/hero-tablet@2x.jpg);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%), url(../images/main-images/hero-mobile.jpg);
    height: 500px;
  }
}
@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%), url(../images/main-images/hero-mobile@2x.jpg);
    height: 500px;
  }
}
.hero__container {
  background: rgba(98, 108, 169, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 27px;
  width: 360px;
  margin-left: 15px;
  padding: 20px;
}

.hero__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  width: 305px;
  color: #FFFFFF;
  padding-bottom: 10px;
}

.hero__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  padding-bottom: 25px;
}

.hero__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #626CA9;
  background: #FFFFFF;
  border-radius: 100px;
  padding: 16px 63px 16px 63px;
}

.header {
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 100%;
}

.header__container {
  padding: 31px 0 31px 15px;
  display: flex;
}

.header__logo {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: black;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__list-link, .header__contact-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile__container {
    display: none;
  }
}
.mobile__container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile__menu-link-header {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 155px;
}

.mobile__menu-link .mobile__menu-link {
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
  color: #212121;
  display: flex;
  flex-direction: column;
}

.mobile__menu-link:hover,
.mobile__menu-link:focus {
  color: blue;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: blue;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  display: block;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile__menu-link {
  display: block;
  padding: 10px 0;
  color: black;
  text-decoration: none;
}

.mobile__menu-link:hover {
  color: blue;
}

.mobile__menu-current-page {
  position: relative;
  color: blue;
  text-decoration: none;
  display: inline-block;
}

.mobile__menu-container {
  margin-top: 8px;
  margin-left: 4px;
}

.mobile__menu-link {
  list-style-type: none;
}

.mobile__contact-address .mobile__contact-link:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__media {
  display: flex;
  margin-right: 0;
  margin-bottom: 16px;
  justify-content: center;
}

.mobile__media .mobile__media-item:not(:last-child) {
  padding-right: 21px;
  margin-right: 21px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile__media-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: -0.37px;
  color: #212121;
}

.mobile__contact-list {
  margin-top: 130px;
  margin-bottom: 130px;
}

.mobile__contact-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: -0.37px;
  color: #212121;
  display: flex;
  align-items: center;
}

.mobile__contact-location {
  display: flex;
  align-items: center;
}

.mobile__media-link {
  color: #212121;
}

.mobile__contacts {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.mobile__contact-icon {
  margin-right: 10px;
}

.mobile__contact-phone {
  margin-bottom: 20px;
}

.mobile__contact-email {
  margin-bottom: 20px;
}

.business__container {
  margin: 0 45px 0 45px;
}

.business {
  margin-top: 60px;
  margin-bottom: 60px;
}

.business__list {
  display: flex;
  flex-wrap: wrap;
}

.business__item:nth-of-type(1) {
  margin: 0 129px 25px 0;
}

.business__item:nth-of-type(3) {
  margin: 0 79px 25px 0;
}

.business__item:nth-of-type(5) {
  margin: 0 117px 0 0;
}

.project {
  background: #F9F9F9;
  padding-top: 40px;
  padding-bottom: 40px;
}

.project__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #212121;
}

.project__title-main {
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  color: #212121;
  margin-bottom: 30px;
}

.project__list-item {
  background: #FFFFFF;
  border-radius: 17px;
  padding: 30px 30px 30px 30px;
}

.project__list-item:not(:last-child) {
  margin-bottom: 15px;
}

.project__item-title {
  padding-top: 46px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
}

.project__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #747474;
}

.project__button {
  background: #626CA9;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.37px;
  color: #FFFFFF;
  margin-top: 30px;
  display: flex;
  padding: 14px 41px 15px 17px;
}

.project__icon {
  fill: #626CA9;
}

.project__button-icon {
  fill: #FFFFFF;
  margin-left: 17px;
}

.specialization__container {
  padding-top: 60px;
}

.specialization__list-item-macbook {
  background: #ECF1FF;
  border-radius: 17px;
  padding: 30px 50px 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialization__list-item-iphone {
  background: #F2EDEA;
  border-radius: 17px;
  padding: 30px 110px 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialization__list-item-3d {
  background: #F3FBFF;
  border-radius: 17px;
  padding: 30px 83px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialization__button {
  background: #626CA9;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.37px;
  color: #FFFFFF;
  display: flex;
  padding: 10px 17px;
  margin-bottom: 30px;
}

.specialization-item-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-transform: capitalize;
  color: #212121;
  padding-bottom: 15px;
}

.specialization__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #212121;
}

.specialization__title-main {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  text-transform: capitalize;
  color: #212121;
  padding-bottom: 25px;
}

@media (max-width: 768px) {
  .completed-projects {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.our-team {
  background: #F9F9F9;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.our-team__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #212121;
}

.our-team__title-main {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  text-transform: capitalize;
  color: #212121;
  padding-bottom: 30px;
}

.team-img {
  border-radius: 17px;
}

.our-team__item-name {
  padding-top: 20px;
}

.our-team__item-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #212121;
  background: #FFFFFF;
  border-radius: 100px;
  position: relative;
  top: -330px;
  padding: 6px 10px;
  border: none;
  left: 15px;
}

.our-team__item-socials-list {
  display: flex;
  margin: -20px 0 30px;
}

.our-team__item-socials-item:not(:last-child) {
  margin-right: 10px;
}

.our-team__item-socials-item {
  background: #FFFFFF;
  border-radius: 100px;
  padding: 9px;
}

.our-team__item-socials-item:hover {
  background: #626CA9;
}

.our-team__item-socials-link-icon:hover {
  fill: #FFFFFF;
}

.our-team__button {
  background: #626CA9;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.37px;
  color: #FFFFFF;
  margin-top: 30px;
  display: flex;
  padding: 14px 41px 14px 17px;
  align-items: center;
}

.our-team__button-icon {
  fill: #FFFFFF;
  margin-left: 17px;
}

.subscribe {
  background-color: #D8DDFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1200px) {
  .subscribe {
    background-image: url(../images/main-images/subscribe-desktop.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subscribe {
    background-image: url(../images/main-images/subscribe-desktop.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subscribe {
    background-image: url(../images/main-images/subscribe-desktop@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    background-image: url(../images/main-images/subscribe-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subscribe {
    background-image: url(../images/main-images/subscribe-tablet@2x.jpg);
  }
}
@media screen and (max-width: 768px) {
  .subscribe {
    background-image: url(../images/main-images/subscribe-mobile.jpg);
    height: 573px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 17px;
  }
}
.subscribe__container {
  padding: 40px;
}

.subscribe__top {
  background: rgba(98, 108, 169, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 27px;
  padding: 30px 28px 30px 30px;
}

.subscribe__input-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  color: #FFFFFF;
  padding-bottom: 15px;
}

.subscribe__input-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 60px;
  margin-bottom: 33px;
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  background: #FFFFFF;
  border-radius: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ADADAD;
  border: none;
  padding: 14px 130px 14px 16px;
}

.subscribe__button {
  background: #626CA9;
  border-radius: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  position: relative;
  margin-left: -78px;
  padding: 14px;
}

.subscribe__bottom {
  background: rgba(98, 108, 169, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 27px;
  margin: 0 auto;
  margin-top: 21px;
  padding: 30px;
  width: 244px;
}

.subscribe__contact-link {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: right;
  letter-spacing: -0.2px;
  color: #FFFFFF;
}

.subscribe__contact-icon {
  margin-right: 10px;
  fill: #FFFFFF;
}

.subscribe__contact-phone {
  margin-bottom: 15px;
}

.subscribe__contact-email {
  margin-bottom: 15px;
}

.subscribe__contact-location {
  margin-bottom: 28px;
}

.subscribe__social-media {
  display: flex;
  justify-content: center;
}

.subscribe__socials-item {
  background: #FFFFFF;
  border-radius: 100px;
  padding: 9px;
}

.subscribe__socials-item:not(:last-child) {
  margin-right: 11px;
}

.footer {
  background: #ECEDF1;
  margin-top: 60px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  text-transform: capitalize;
  color: #000000;
  padding: 40px 0 30px 0;
}

.footer__list-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.footer__link-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
}

.footer__link:not(:last-child) {
  margin-right: 15px;
}

.footer__contact {
  margin-bottom: 15px;
}

.footer__contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #212121;
}

.footer__contact-icon {
  margin-right: 7px;
}

.footer__social-media {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 40px;
}

.footer__socials-item {
  background: #FFFFFF;
  border-radius: 100px;
  padding: 9px;
}

.footer__socials-item:not(:last-child) {
  margin-right: 15px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250mscubic-bezier 0.4, 0, 0.2, 1, visbility 250mscubic-bezier 0.4, 0, 0.2, 1;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-close {
  fill: black;
}

.icon-close:hover {
  fill: #626CA9;
}

.checkbox:checked + .modal__checkbox-label > .modal__checkbox {
  background-color: #626CA9;
  border: none;
}

.form-button {
  margin: 0 auto;
  border: none;
  padding: 15px 60px;
  border-radius: 100px;
  background-color: #626CA9;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: background-color 250mscubic-bezier 0.4, 0, 0.2, 1;
}
.form-button:hover, .form-button:focus {
  background-color: #626CA9;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  position: absolute;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  border-radius: 23px;
}

.modal__button {
  float: right;
  border-style: none;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px 24px 0 0;
  border: none;
}

.modal__form {
  padding: 40px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #303030;
  position: relative;
  margin-bottom: 14px;
}

.modal__icon {
  position: absolute;
  top: 52%;
  margin-left: 12px;
  margin-top: 7px;
  fill: black;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.modal__input {
  border: 1px solid #B5B5B5;
  border-radius: 9px;
  height: 40px;
  transition: border-color 250mscubic-bezier 0.4, 0, 0.2, 1;
  padding-left: 33px;
  margin-top: 8px;
}
.modal__input:hover, .modal__input:focus {
  border-color: #626CA9;
  outline: none;
}

.modal__textarea-input {
  border: 1px solid #B5B5B5;
  border-radius: 9px;
  height: 120px;
  font-size: 14px;
  font-weight: 400px;
  font-family: "Roboto";
  padding: 12px 16px;
  transition: border-color 250mscubic-bezier 0.4, 0, 0.2, 1;
  margin-top: 8px;
}
.modal__textarea-input:hover, .modal__textarea-input:focus {
  border-color: #626CA9;
  outline: none;
}

.modal__caption {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #212121;
  padding-bottom: 20px;
}

.modal__checkbox-label {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  display: flex;
  cursor: pointer;
}

.modal__checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 8px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}