$colors:(
'primary-title-color': #212121,
'accent-color': #2196F3,
'primary-text-color': #757575,
'header-background': #FFFFFF,
'background':#2F303A,
'white-color':#FFFFFF,
'button-hover':#1976d2,
'jobs-label-background-color':rgba(47, 48, 58, 0.800),
'link-color':#AFB1B8,
'image-background':#F5F4FA,
'modal-background':rgba(0, 0, 0, 0.2),
'footer-social-link-background':rgba(255, 255, 255, 0.1),
'portfolio-button-color':#0000,
'modal-icon':black,
'portfolio-background-color':#E5E5E5,
'portfolio-card-gap':30px,
'portfolio-card-overlay':rgba(33, 149, 243, 0.900),);

$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
