.business{
    margin-top: 60px;
    margin-bottom: 60px;
    
}

.business__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.business__item:nth-child(odd){
    padding-left: 30px;
}
.business__item:nth-child(even){
    padding-right: 30px;
}