.footer{
    background: #ECEDF1;
    margin-top: 60px;
}
.footer__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__list-link{
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}
.footer__link:not(:last-child){
    margin-right: 15px;
}
.footer__contact-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__social-media{
    display: flex;
    justify-content: center;
}
.footer__socials-item{
    background: #FFFFFF;
        border-radius: 100px;
        padding: 9px;
}
.footer__socials-item:not(:last-child){
    margin-right: 15px;
}
