 
 .hero{
    background-color: #D8DDFF;
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}

 @media (min-width: 1200px) {
     .hero {
         background-image:linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
           url(../images/main-images/hero-desk.jpg);
     }
 }

 @media (min-width: 1200px) and (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {

     .hero {
         background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
          url(../images/main-images/hero-desk.jpg);


     }
 }

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {

     .hero {
         background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
             url(../images/main-images/hero-desk@2x.jpg);

     }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {

     .hero {
         background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
             url(../images/main-images/hero-tablet.jpg);

     }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {

     .hero {
         background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
             url(../images/main-images/hero-tablet@2x.jpg);

     }
 }

 @media screen and (max-width: 768px) {

     .hero {
         background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
             url(../images/main-images/hero-mobile.jpg);
             height: 500px;

     }
 }

 @media screen and (max-width: 768px) and (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {

     .hero {
         background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
             url(../images/main-images/hero-mobile@2x.jpg);
             height: 500px;

     }
 }

 .hero__container{
    background: rgba(98, 108, 169, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 27px;
    width: 360px;
    margin-left: 15px;
 }
 
 .hero__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    width: 305px;
    color: #FFFFFF;
    padding: 20px 0 0 20px;
   
 }
 .hero__info{
    font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 10px 54px 25px 20px;
 }
 .hero__button{
    font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #626CA9;
        background: #FFFFFF;
        border-radius: 100px;
        padding: 16px 63px 16px 63px;
        margin-left: 20px;
        margin-bottom: 20px;
 }